.slider-container {
  .slider-slides {
    position: relative;
  }

  .slider-item {
    &:not(.is-current) {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}
